body {
  background-color: rgb(235, 235, 235);
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
}

#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  width: 100%;
}

.top-container {
  background-color: rgb(250, 250, 250);
  border: 1px solid #dbdbda;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

/*
.top-wrapper {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
  */

.top-images {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.coffee-cap-image {
  width: 100px;
  padding: 70px 0;
}

.parson-image {
  width: 100px;
}

.top-text {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.3em;
  line-height: 250%;
}

.br {
  height: 10px;
}

.upload-logo {
  width: 80px;
  margin: 0 auto;
}

.upload-message {
  line-height: 80px;
  height: 80px;
  color: #b06b42;
  font-size: 16px;
}

.bbb {
  background: #f0efec;
  color: #000;
  letter-spacing: 0.3em;
  cursor: pointer;
  padding: 15px 30px;
  margin: 0 30px;
  display: inline-block;
}
.bbb input {
  display: none;
}

.heading {
  position: relative;
  padding: 0.8em;
  font-size: 26px;
  letter-spacing: 1.3px;
}

.heading span {
  position: relative;
  z-index: 2;
}

.heading::before {
  content: attr(data-number);
  position: absolute;
  top: 0;
  left: 0;

  color: rgba(229 192 70 / 0.4);
  font-size: 54px;
  z-index: 1;
}

/* 使い方 */
.how-to-use-container {
  width: 100%;
  margin: 20px 0 40px 0;
}

.how-to-use-list {
  background: rgb(250, 250, 250);
  box-shadow: 0px 0px 0px 10px rgb(250, 250, 250); /*線の外側*/
  border: dashed 3px rgba(229 192 70 / 0.4); /*破線*/
  border-radius: 9px;
  margin-left: 10px; /*はみ出ないように調整*/
  margin-right: 10px; /*はみ出ないように調整*/
  padding: 1em 1em 1em 2em;
  letter-spacing: 0.1em;
}

.how-to-use-list .how-to-use-list-item {
  line-height: 1.5;
  padding: 0.5em 0;
}

/* 推論 */
.api-error-text {
  color: #ff7676;
}

.run-prediction {
  margin-top: 20px;
}
.run-prediction-button {
  background: rgba(229 192 70 / 0.4);
  border: 1px solid rgba(229 192 70 / 0.4);
  border-radius: 30px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 10px 25px;
  color: rgb(118, 116, 116);
  text-decoration: none;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.run-prediction-button:hover {
  background: rgb(118, 116, 116);
  border: 1px solid rgb(118, 116, 116);
  color: rgba(229 192 70 / 0.4);
}

.upload-result {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.no-image {
  opacity: 0.2;
}

.upload-loading {
  width: 300px;
  height: 300px;
}

.emphasis {
  background-image: linear-gradient(rgba(250 250 250 / 250) 70%, #e5c046 70%);
}

.ai-image {
  border-radius: 30px;
}

.upload-label {
  display: inline-block;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  border: 1px solid #e5c046;
  border-radius: 30px;
  cursor: pointer;
}

.image-upload {
  display: none;
}
